* {
    margin: 0px;
    padding: 0px;
    border: 1px dotted black;
}
header {
    background-color: white;
    padding: 15px;
}

    header h1, h2 {
        width: 48%;
        display: inline-block;
    }

    h2 {
        text-align: right;
    }

    #container{
        width: 970px;
        background-color: rgb(59, 38, 70);
        margin: 0 auto;
    }

    main {
        height: 1000px;
        padding: 2%;
    }

        #info {
            background-color: yellow;
        }

        #info img {
            width: 45%;
            border: 4px solid white;
            
        }

        #about-me {
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }

        #projects-section {
            height: 60%;
            background-color: pink;
        }

    footer {
        height: 75px;
        background-color: white;
    }

        footer img {
            width: 15px;
            
        }